#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Toggle Keys
Comment=Use this script to toggle keyboard accessibility
Exec=/home/sambhavsaxena/Desktop/shell-utilities/exec.sh
Icon=/home/sambhavsaxena/Desktop/shell-utilities/icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
